

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background-color: #f5f5f5;
  color: #222;
}


.navbar {
  background-color: #ffffff;
  padding: 5px ;
  text-align: center;
  border-bottom: 2px solid #ddd;
}

.navbar a {
  margin:100px;
  text-decoration: none;
  color: #333;
  font-weight: bold;

}

.navbar a:hover {
  color: #c40000;
}


.banner {
  background-color: #d60000;
  color: white;
  padding: 51px 20px;
  text-align: center;
}

.banner .subtitle {
  margin-top: 10px;
  font-size: 20pt;
}


.container {
  display: flex;
  padding: 40px;
  gap: 40px;
  justify-content: center;
}




.home-text {
  max-width: 650px;
  line-height: 2;
  font-size: 18px;
}

.home-text h2 {
  margin-bottom: 15px;
  color: #b80000;
}

body {
  background-color: #ffe7d6; 
  color: #222;
  margin: 0;
}

.home-image img {
  width: 800px;     
  border-radius: 50px;
  box-shadow: 11px 6px 20px rgba(0,0,0,.35)
}

.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
    font-size: 14px;
}

